{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "ignorePatterns": [
    "node_modules",
    "coverage"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    // Off to enable immer working in redux toolkit
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-shadow": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
